<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKGXRsIRXHw-Iucs1LsPNAD6L0ksQhuV0</string>
	<key>GCM_SENDER_ID</key>
	<string>66195211234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deutsckekapital.soundsbinder</string>
	<key>PROJECT_ID</key>
	<string>soundsbinder-5fb0b</string>
	<key>STORAGE_BUCKET</key>
	<string>soundsbinder-5fb0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66195211234:ios:1c36e50e181b173bc66fbb</string>
</dict>
</plist>